### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data.head()
purchase_data.SN.unique()
x=purchase_data.SN.unique()
print("player count: " + str(len(x)))

player count: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
x=purchase_data["Item ID"].unique()
print("unique items: " + str(len(x)))

unique items: 183

In [6]:
y=purchase_data["Price"].mean()

In [7]:
a=purchase_data["SN"].count()

In [8]:
b=purchase_data['Price'].sum()

In [9]:
data = {'Number of Unique Items': [len(x)], 
        'Average Price': [y], 
        'Number of Purchases': [a],
       'Total Revenue':[b]}
 
df = pd.DataFrame(data) 
df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
purchase_data.Gender.value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
purchase_data.Gender.value_counts(normalize=True) * 100

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [13]:
demographics = pd.DataFrame(purchase_data.Gender.value_counts().reset_index())
demographics.columns = ['Gender', 'count']
demographics

                  Gender  count
0                   Male    652
1                 Female    113
2  Other / Non-Disclosed     15

In [14]:
percent = pd.DataFrame((purchase_data.Gender.value_counts(normalize=True) * 100).reset_index())
percent.columns = ['Gender', 'percentages']
percent

                  Gender  percentages
0                   Male    83.589744
1                 Female    14.487179
2  Other / Non-Disclosed     1.923077

In [15]:
demographics.merge(percent)

                  Gender  count  percentages
0                   Male    652    83.589744
1                 Female    113    14.487179
2  Other / Non-Disclosed     15     1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
gender_grouped = purchase_data.groupby(["Gender"])

In [17]:
gender_purchase_count = gender_grouped["Item ID"].count()
print(str(gender_purchase_count))

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [18]:
gender_avg_price = round(gender_grouped["Price"].mean(),2)
print(str(gender_avg_price))

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [19]:
gender_total_purchase = round(gender_grouped["Price"].sum(),2)
print(str(gender_total_purchase))

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
gender_normalized_count = pd.DataFrame(gender_grouped["SN"].unique()).SN.apply(lambda x: len(x))
print(str(gender_normalized_count))

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [21]:
gender_normalized_total = round(gender_grouped["Price"].sum()/gender_normalized_count,2)
print(str(gender_normalized_total))

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [22]:
gender_analysis_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                 "Average Purchase Price": gender_avg_price,
                                   "Total Purchase Value": gender_total_purchase,
                                   "Normalized Totals": gender_normalized_total})
gender_names = purchase_data["Gender"].value_counts().keys().tolist()
gender_analysis_df.index = gender_names
gender_analysis_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Male,113,3.20,361.94,4.47
Female,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [23]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], [0, 9, 14, 19, 24, 29, 34, 39, 100], 
                                labels=["<10", "10-14", "15-19", "20-24", 
                                "25-29", "30-34", "35-39", "40+"])
age_names = purchase_data["Age Range"].value_counts()
age_counts = purchase_data["Age Range"].value_counts() 
age_percents = [round((ac/gender_total_purchase)*100,2) for ac in age_counts] 


age_demo_df = pd.DataFrame({"Percentage of Players": age_percents, 
                               "Total Counts": age_counts})
age_demo_df.index = age_names
age_demo_df

                                       Percentage of Players  Total Counts
Age Range
365        Gender
Female                   100.85
Male   ...           365
136        Gender
Female                    37.58
Male   ...           136
101        Gender
Female                    27.91
Male   ...           101
73         Gender
Female                    20.17
Male   ...            73
41         Gender
Female                   11.33
Male    ...            41
28         Gender
Female                    7.74
Male    ...            28
23         Gender
Female                    6.35
Male    ...            23
13         Gender
Female                    3.59
Male    ...            13

In [24]:
age_grouped = purchase_data.groupby(["Age Range"])
age_purchase_count = age_grouped["Item ID"].count()
age_avg_price = round(age_grouped["Price"].mean(),2)
age_total_purchase = round(age_grouped["Price"].sum(),2)
age_normalized_count = pd.DataFrame(age_grouped["SN"].unique()).SN.apply(lambda x: len(x))
age_normalized_total = round(age_grouped["Price"].sum()/age_normalized_count,2)
age_analysis_df = pd.DataFrame({"Purchase Count": age_purchase_count, 
                                "Average Purchase Price": age_avg_price,
                                "Total Purchase Value": age_total_purchase,
                                "Normalized Totals": age_normalized_total})
age_analysis_df.index = age_names
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Range,,,,
365,23,3.35,77.13,4.54
136,28,2.96,82.78,3.76
101,136,3.04,412.89,3.86
73,365,3.05,1114.06,4.32
41,101,2.90,293.00,3.81
28,73,2.93,214.00,4.12
23,41,3.60,147.67,4.76
13,13,2.94,38.24,3.19

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [55]:



purchase_data["Age Range"] = pd.cut(purchase_data["Age"], [0, 9, 14, 19, 24, 29, 34, 39, 100], 
                                labels=["<10", "10-14", "15-19", "20-24", 
                                "25-29", "30-34", "35-39", "40+"])
age_names = purchase_data["Age Range"].value_counts().keys().tolist()#age range names list
age_counts = purchase_data["Age Range"].value_counts().tolist() #age counts list
age_percents = [round((ac/total_purchases)*100,2) for ac in age_counts] #age percents list


age_demo_df = pd.DataFrame({"Percentage of Players": age_percents, 
                               "Total Counts": age_counts})
age_demo_df.index = age_names
age_demo_df

NameError: name 'total_purchases' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:

grouped = purchase_data.groupby('Age Range')
data = OrderedDict({'Purchase Count': grouped.size(),
                   'Average Purchase Price': grouped['Price'].mean(),
                   'Total Purchase Value': grouped['Price'].sum(),
                   'Normalized Totals': grouped['Price'].sum() / age_count})
purchasing_analysis = pd.DataFrame(data)
pd.options.display.float_format = '${:,.2f}'.format
display(purchasing_analysis)

NameError: name 'OrderedDict' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
sn_grouped = purchase_data.groupby(["SN"])


sn_purchase_count = sn_grouped["Item ID"].count()


sn_avg_price = round(sn_grouped["Price"].mean(),2)


sn_total_purchase = round(sn_grouped["Price"].sum(),2)

sn_analysis_df = pd.DataFrame({"Purchase Count": sn_purchase_count, 
                               "Average Purchase Price": sn_avg_price,
                                "Total Purchase Value": sn_total_purchase})
sn_analysis_df.index = purchase_data.groupby(["SN"]).groups.keys()


sn_analysis_df.sort_values(["Total Purchase Value"], ascending=[False], inplace=True)
sn_analysis_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
item_grouped = purchase_data.groupby(["Item ID", "Item Name"])


item_purchase_count = item_grouped["Item ID"].count()


item_avg_price = round(item_grouped["Price"].mean(),2)


item_total_purchase = round(item_grouped["Price"].sum(),2)

item_analysis_df = pd.DataFrame({"Purchase Count": item_purchase_count, 
                               "Average Purchase Price": item_avg_price,
                                "Total Purchase Value": item_total_purchase})


item_analysis_df.sort_values(["Purchase Count"], ascending=[False], inplace=True)
item_analysis_df.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
item_analysis_df.sort_values(["Total Purchase Value"], ascending=[False], inplace=True)
item_analysis_df.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80